<h2 class="center">Profile Data for <%= user.fullName %></h2>
<table class="table">
    <tbody>
        <tr>
            <td>Name</td>
            <td>
                <%= user.fullName %>
            </td>
        </tr>

        <tr>
            <td>Username</td>
            <td>
                <%= user.Username %>
            </td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>
                <%= user.Gender %>
            </td>
        </tr>

        <tr>
            <td>Location</td>
            <td>
                <%= user.Location %>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <%= user.Email %>
            </td>
        </tr>

        <tr>
            <td>Password</td>
            <td>
                <%= user.Password %>
                <!-- want to see how this is shown - in pass form or plain txt -->
            </td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>
                <%= user.DoB %>
            </td>
        </tr>
        <tr>
            <td>Security Question</td>
            <td>
                <%= user.SecurityQuestion %>
            </td>
        </tr>
        
        <tr>
            <td>Answer</td>
            <td>
                <%= user.Answer %>
            </td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>
                <%= user.Bio %>
            </td>
        </tr>

    </tbody>
</table>