<header>
    <link rel="stylesheet" href="/css/users.css">
    <script src="/js/users.js"></script>
</header>
<body style="background-image:url(/images/chirpyBackground.jpg);">
<div class="card">
    <!-- <%if (user.Gender == "") { %> //need to figure out how to change avatar based on gender type
        img src ="/images/img_avatar.png"
        <% } %> -->
    <img src="/images/img_avatar.png" alt="Avatar">
    <h1><%= user.fullName %></h1>
    <ul>
    <li>Username: <%= user.Username %> </li>
    <li>Gender: <%= user.Gender %></li>
    <li>Location: <%= user.Location %></li>
    <li>Email: <%= user.Email %></li>
    <li>Date of Birth: <%= user.DoB.toDateString() %></li>
    <li>Bio: <%= user.Bio %></li>

    </ul>
    <!-- <a href="<%= `/users/home/` %>">Home</a> -->

    <a href="<%= `/users/home/${user._id}/edit` %>"><p><button class="card-button">Update Profile</button></p></a>
    <p><button class="card-button" onclick="goBack()">Return to Home</button></p>
  </div>

</body>