<h2 class="center">Chirps Table</h2>
<table class = "table">
    <button><a href="/chirps/new">Create New Chirp!</a></button>
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Post</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% chirps.forEach(chirp => { %>

            <tr>
                <td>
                    <a href ="<%= `/chirps/${chirp._id}` %>">
                        <%= chirp.fullName %>
                    </a>
                </td>
                <td>
                    <%= chirp.user %>
                </td>
                <td>
                    <%= chirp.chirpBody %>
                </td>
                <td>
                    <a href ="<%= `chirps/${chirp._id}/edit` %>">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="<%= `chirps/${chirp._id}/delete?_method=DELETE` %>" onclick="return confirm(`Are you sure?`)">
                        Delete
                    </a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>