<head>
    <link rel="stylesheet" href="/css/chirps.css">
</head>


<h2 class="center">Chirps Table</h2>
<table class = "table">
    <button><a href="/chirps/new">Create New Chirp!</a></button>
    <thead>
        <tr>
            <th>Username</th>
            <th>Post</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% chirps.forEach(chirp => { %>

            <tr>
                <td>
                    <a href="<%= `/chirps/${chirp._id}` %>" style="color:white;">
                        <%= chirp.userHandle %>
                    </a>
                </td>
                <td>
                    <%= chirp.chirpBody %>
                </td>
                <% if(currentUser._id.toString() == chirp.user.toString()) { %>
                <td>
                    <a href ="<%= `chirps/${chirp._id}/edit` %>">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="<%= `chirps/${chirp._id}/delete?_method=DELETE` %>" onclick="return confirm(`Are you sure?`)">
                        Delete
                    </a>
                </td>
                <% } else { %>
                    <td>
                        
                    </td>
                    <td>

                    </td>
                    <% } %>
            </tr>
        <% }) %>
    </tbody>
</table>