<!-- <header>
    <link rel="stylesheet" href="/css/chirpNew.css">
</header>
<body style="background-image:url(/images/chirpyBackground.jpg);">
<div class = "chirpData">
    <form action ="/chirps/create" method ="POST">

    <h3> <%= currentUser.fullName %></h3>
    <h4>@<%= currentUser.Username %> </h4>
    <input type="text" name="user" id="txtUsername" required hidden value="<%= currentUser._id %>">
    </input>
    <label for="txtPost">Post: </label>

    <textarea name="chirpBody" id="txtPost" cols="44" rows="4" required placeholder="What's happening, <%= currentUser.Username %>?"></textarea>

    <button class = "editbutton" type="submit"><p>Create</p></button>
    </form>
</div>
</body> -->

<header>
    <link rel="stylesheet" href="/css/chirpNew.css">
</header>
<body style="background-image:url(/images/chirpyBackground.jpg);">
<div class = "chirpData">
    <div class="headers">
    <h3> <%= currentUser.fullName %></h3>
    <h4>@<%= currentUser.Username %> </h4>
</div>
    <form action ="/chirps/create" method ="POST">

    <input type="text" name="user" id="txtUsername" required hidden value="<%= currentUser._id %>">
    </input>
    <label id="txtHeader" for="txtPost">Chirp: </label>

    <textarea name="chirpBody" id="txtPost" cols="44" rows="4" required placeholder="What's happening, <%= currentUser.Username %>?"></textarea>

    <button class = "editbutton" type="submit"><p>Create</p></button>
    </form>
</div>
</body>